textarea {
	visibility: hidden;
}

#header {
	font-size: 16px;
	color: gray;
	font-family: serif;
}

#name {
	font-size: 14px;
	color: gray;
	font-family: serif;
}

#description {
	font-size: 14px;
	margin: 30px;
}

#control {
	
}

#container {
    text-align: center;
    width: 100%;
    margin: 20px;
    margin-top: 50px;
}