/* continent color */
.continent {
  fill: #E0E0E0;
  stroke: black;
}

/* country colors */
#England {
  fill: #3690C0;
}

#France {
  fill: #EF3B2C;
}

#Poland {
  fill: #238B45;
}

#header {
    font-size: 16px;
    color: gray;
    font-family: serif;
}

#name {
    font-size: 14px;
    color: gray;
    font-family: serif;
}
