textarea {
  visibility: hidden;
}

svg {
  border: 1px solid gray;
  box-shadow: 3px 3px 4px #000;
}

#header {
    font-size: 16px;
    color: gray;
    font-family: serif;
}

#name {
    font-size: 14px;
    color: gray;
    font-family: serif;
}

#description {
    font-size: 14px;
    margin: 20px;
}

/* continent color */
.continent {
  stroke: gray;
}
